<%- include('header') %>

<section>
  <form class="form" method="GET" action="/cotacao">
    <input type="text" required name="cotacao" placeholder="Cotação dolar" />
    <input type="text" required name="quantidade" placeholder="Quantidade dolares" />
    <input type="submit" value="Converter" class="button">
  </form>
</section>

<%- include('footer') %>
